* {
    box-sizing: border-box;
}

body {
    font-family: 'Uthmanic Hafs', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    padding: 0 10px;
}

#game-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#arabic-word {
    font-size: 4rem;
    cursor: pointer;
    direction: rtl;
}

button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #58CC02;
    color: white;
}

#result {
    margin-top: 20px;
    font-size: 1.5rem;
}

#next-button {
    margin-top: 20px;
    display: none;
    background-color: #007BFF;
    color: white;
}
